@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

.fullPage {
    width: 980px;
    background-color: #E0FFFF;
    box-shadow: 6px 6px 20px rgb(0 0 0 / 10%);
}

.fullPage__name {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: #ADD8E6;
}

/* Enterprise page */
.flex-end {
    display: flex;
    align-items: flex-end;
}

.list-item {
    padding-top: 8px;
    border-bottom: 1px solid gray;
    width: 100%;
}

.list-item,
.block-header,
.rowFounderE {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.list-item__fieldName {
    min-width: 248px;
}

.list-item__fieldNamePers {
    min-width: 200px;
}

.list-item__fieldValue {
    width: 100%;
}

.block-header {
    margin: 20px auto;
    width: 100%;
    font-size: 22px;
}

.block-header,
.list-header {
    text-align: center;
    color: #000080;
}

.list-item__humanName {
    width: 480px;
}

.list-item__humanState {
    width: 100%;
    text-align: center;
}

.rowFounderE {
    margin-bottom: 5px;
    border-bottom: 1px solid gray;
}

.rowFounderE__entr-name {
    display: flex;
    justify-content: space-between;
}

.list-item__center {
    text-align: center;
}

.list-item__order-date {
    min-width: 100px;
}

.list-item__order-head {
    min-width: 360px;
}

.list-item__order-state {
    width: 100%;
    margin-left: 5px;
}

.list-item__buttons2 {
    opacity: 0.2;
    transition: opacity .4s;
}

.list-item__buttons4 {
    display: flex;
    justify-content: flex-end;
    min-width: 112px;
    margin-left: 5px;
    opacity: 0.2;
    transition: opacity .4s;
}

.list-item__lic-kateg {
    min-width: 60px;
}

.list-item__lic-number {
    min-width: 130px;
    margin-left: 5px;
}

.list-item__lic-date {
    min-width: 110px;
    margin-left: 5px;
}

.list-item__lic-state {
    width: 100%;
    margin-left: 20px;
}

.list-item__visible {
    display: flex;
}

.list-item__visible-data {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.list-item__switch {
    margin: 0 8px;
    color: #000080;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.2;
    transition: opacity .4s;
}

.list-item:hover .list-item__switch,
.list-item:hover .list-item__buttons2,
.list-item:hover .list-item__buttons4 {
    opacity: 1;
}

.list-item__obj-type {
    width: 300px;
}

.list-item__obj-addr {
    margin-left: 5px;
    width: 460px;
}

.list-item__obj-date-header {
    width: 190px;
}

.list-item__obj-date {
    width: 90px;
    margin-left: 5px;
    text-align: right;
}

.list-item__checkbox {
    display: none;
}

.list-item__invisible {
    background-color: #cfe8e8;
    font-size: 14px;
    padding-left: 15px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s;
}

.list-item__checkbox:checked+div {
    max-height: 200px;
}

.check-header {
    text-align: center;
    color: #000080;
    justify-content: space-between;
}

.list-item__check-type {
    width: 400px;
}

.list-item__check-doc {
    width: 280px;
    text-align: center;
    margin-left: 5px;
}

.list-item__checker {
    width: 150px;
    margin-left: 5px;
}

/* Person page */
.fullPage__person-info {
    padding: 15px;
}

.fullPage__person-details {
    display: flex;
    gap: 10px;
}

.fullPage__person-foto,
.fullPage__person-foto__big,
.fullPage__person-foto__small {
    height: 200px;
    border: 1px solid black;
}

.fullPage__person-foto__small {
    display: none;
}

.person-header {
    margin: 35px 0 10px;
    text-align: center;
}

.person-foto__edit,
.person-posada__edit {
    display: flex;
    gap: 16px;
}

.person-foto__edit {
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 24px;
}

/* Error page */
.error-page h1 {
    margin: 80px 20px;
    text-align: center;
}

.error-page h3 {
    margin: 0 30px;
    text-align: center;
}

.dialog-wrap {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
}

.dialog-wrap__content {
    max-height: 400px;
    width: 100%;
}

.dialog-wrap__item {
    font-size: 18px;
    margin-bottom: 4px;
}

.dialog-wrap__item:hover {
    font-weight: 600;
}

.dialog-wrap__item input {
    margin-right: 8px;
}

@media (max-width: 767px) {
    .person-posada__edit {
        flex-wrap: wrap;
    }

    .list-item__order-head,
    .list-item__lic-date {
        display: none;
    }
}

@media (min-width: 768px) {
    .list-item__invisible-info {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .fullPage {
        width: 760px;
    }

    .list-item__order-head {
        min-width: 280px;
    }

    .list-item__obj-type {
        width: 220px;
    }

    .list-item__obj-addr {
        width: 340px;
    }

    .list-item__check-type {
        width: 300px;
    }

    .list-item__check-doc {
        width: 200px;
    }

    .list-item__checker {
        width: 150px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .fullPage {
        width: 100%;
    }

    .list-item__fieldName {
        min-width: 220px;
    }

    .block-header {
        font-size: 20px;
    }

    .list-item__humanName {
        width: 280px;
    }

    .list-item {
        font-size: 14px;
    }

    .list-item__order-date {
        min-width: 80px;
    }

    .list-item__lic-kateg {
        min-width: 40px;
    }

    .list-item__lic-number {
        min-width: 120px;
    }

    .list-item__lic-state {
        margin-left: 14px;
    }

    .list-item__obj-type {
        width: 150px;
    }

    .list-item__obj-addr {
        width: fit-content;
    }

    .list-item__invisible {
        font-size: 12px;
    }

    .list-item__check-type {
        width: 230px;
    }

    .list-item__check-doc {
        width: fit-content;
    }

    .list-item__checker {
        width: 140px;
    }

    .fullPage__person-foto__big {
        display: none;
    }

    .fullPage__person-foto__small {
        display: block;
        height: 300px;
        margin: 0 auto 10px;
    }
}

@media (min-width: 481px) {
    .list-item__buttons2 {
        display: flex;
    }
}

@media (max-width: 480px) {
    .fullPage {
        width: 100%;
    }

    .fullPage__name {
        font-size: 24px;
    }

    .list-item,
    .rowFounderE {
        font-size: 14px;
    }

    .list-item__fieldName {
        min-width: 112px;
    }

    .block-header {
        font-size: 18px;
    }

    .list-item__humanName {
        width: 250px;
    }

    .list-item {
        font-size: 12px;
    }

    .list-item__order-date {
        min-width: 70px;
    }

    .list-item__buttons4 {
        flex-wrap: wrap;
        min-width: 0;
    }

    .list-item__lic-kateg {
        min-width: 40px;
    }

    .list-item__lic-number {
        min-width: 80px;
    }

    .list-item__lic-state {
        margin-left: 10px;
    }

    .list-item__switch {
        margin: 0 6px;
    }

    .list-item__obj-type {
        width: fit-content;
    }

    .list-item__obj-addr {
        width: fit-content;
    }

    .list-item__obj-date {
        width: 70px;
    }

    .list-item__invisible {
        font-size: 10px;
    }

    .list-item__check-type {
        width: 120px;
    }

    .list-item__check-doc {
        width: 90px;
    }

    .list-item__checker {
        width: 100px;
    }

    .fullPage__person-foto__big {
        display: none;
    }

    .fullPage__person-foto__small {
        display: block;
        margin: 0 auto 10px;
    }
}